.adSection {
  max-width: $content-width;
  text-align: center;
  margin: auto;
  padding: 0px 20px 50px 20px;
}

.adSectionInText {
  border-top: 2px dashed #ccc;
  border-bottom: 2px dashed #ccc;
  padding:10px 0px;
}