@import 'content.code';
@import 'content.headings';
@import 'content.table';
@import 'content.blockquote';
@import 'content.table';

.content {
    margin: auto;
    padding-top: 110px;
    max-width: $content-width;
    @media screen and (max-width: $content-width + 40px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

