// Headings
h1,
h2,
h3,
h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    font-family: 'Roboto Slab', serif;
    line-height: 1.42;
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: 3.998rem;
    &::after {
      display: block;
      margin: auto;
      margin-top: 0px;
      width: 200px;
      border-top: 2px $color-accent solid;
      content: ''
    }
    &+h2 {
        font-weight: 300;
        margin-top: 5px;
        font-size: 25px;
    }
}

h2 {
    font-size: 2.827rem;
}

h3 {
    font-size: 1.999rem;
}

h4 {
    font-size: 1.414rem;
}

h5 {
    font-size: 1.121rem;
}

h6 {
    font-size: .88rem;
}
