@import 'bourbon';
@import 'neat';
@import './variables';
@import './menu';
@import './content';
@import './footer';

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

html {
    font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 48rem) {
    html {
        font-size: 16px;
    }
}

p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
}

small {
    font-size: .707em;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
    max-width: 100%;
}

body {
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.85;
    margin: 0px;
}



img {
    border-radius: 50%;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

a,
a:visited {
    color: #3498db;
}

a {
    &:hover,
    &:focus,
    &:active {
      color: #2980b9;
    }
}

pre {
    background-color: #fafafa;
    padding: 1rem;
    text-align: left;
}



ul,
ol,
li {
    text-align: left;
}

p {
    color: #777;
}