<!DOCTYPE html>
<html>
  <head>
    <title>Quicksite</title>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet'>
    <style>
      {{{css}}}
    </style>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class='content'>
      <div class='menuBox'>
        <div class='menuItems'>
        {{#each menuItems}}
          <a href='/{{link}}'>{{name}}</a>
        {{/each}}
        </div>
      </div>
      {{{html}}}
      <div class='footer'>
        
      </div>
    </div>
    
  </body>
</html>